{% load wagtailadmin_tags i18n %}

<div class="icon-chooser-widget">
    <div class="icon-selector">
        <input type="hidden" name="{{ widget.name }}" {% if widget.value !=None %}
               value="{{ widget.value|stringformat:'s' }}" {% endif %}
               id="{{ widget.attrs.id }}" {% include "django/forms/widgets/attrs.html" %}>
        <div style="display: flex;align-items: center">
            <button type="button" id="{{widget.attrs.id}}-modal-trigger" class="icon-button button button-secondary">
                <span id="{{widget.attrs.id}}-icon-container" class="icon-container">
                    {% if widget.value %}
                    <svg class="icon selected-icon" aria-hidden="true">
                        <use href="#icon-{{ widget.value }}"></use>
                    </svg>
                    {% endif %}
                </span>
                <span class="icon-select-message">
                    {% translate "Click to choose icon" %}
                </span>
            </button>
            <button
                    class="button button-small no"
                    id="{{widget.attrs.id}}-icon-choice-clear"
                    type="button"
                    style="{% if not widget.value %}display:none;{% endif %} ">
                <span>
                    {% translate "Clear choice" %}
                </span>
            </button>
        </div>
    </div>
</div>